.input {
  position: relative;
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, .6);
  border-radius: 2px;
  box-sizing: border-box;
  transition: background 200ms;
  border: 1px solid #bbb;
  
  &_focused {
    background: rgba(255, 255, 255, 1);
  }

  &_success {
    background: rgba(0, 128, 0, 0.1);
  }

  &_error {
    background: rgba(255, 0, 0, 0.1);
  }

  &__input {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    background: none;
    border: none;
    outline: none;
    padding: 14px 20px 14px;
    box-sizing: border-box;
  }

  @keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
  }
}
